
body {
    background: #f5f7fa;
    font-family: 'Segoe UI', sans-serif;
}

nav {
    background: #1e88e5;
    padding: 15px 30px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.container { 
    max-height: 100vh;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1e88e5;
}

.card-panel {   
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 2px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.input-SBiller,
.input-SBiller_NonHide {
    position: relative;
    margin-bottom: 6px;
}

.input-SBiller input,
.input-SBiller_NonHide input {
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #cfd8dc;
}

.input-SBiller label,
.input-SBiller_NonHide label {
    font-size: 14px;
    margin-top: 5px;
    font-weight: bolder;
    color: #455a64;
}

.btnsubmit .btn {
    background: #1e88e5;
    color: white;
    padding: 12px 40px;
    border-radius: 30px;
    font-size: 18px;
	font-weight: bold;
    margin-top: 25px;
}

.btn:hover {
    background: #1565c0;
}

footer {
    text-align: center;
    color: #666;
	font-size : 12px;
	font-weight: bold;
	margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}


@media screen and (max-width: 950px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: var(--Uk20px);
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}